* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(15deg, #670f0f 0%, #351a1a 150%); */
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.home {
  height: 100vh;
  background: url(images/backgroundimage2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  background-color: transparent;
  z-index: 2;
  position: fixed;
  width: 100%;
  padding: 20px 0px;
}
.sticky {
  background-color: #000c30;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: sans-serif;
}
.nav-item:hover {
  border-bottom: 2px;
  border-bottom-color: #fff;
  border-bottom-style: solid;
}
.nav-logo-img {
  top: 1px;
  left: 10px;
  width: 60px;
  margin-left: 60px;
  position: absolute;
}
@media (max-width: 430px) {
  .nav-logo-img {
    top: 1px;
    left: 10px;
    width: 60px;
    margin-left: 10px;
    /* position: absolute; */
  }
}
.img-logo {
  /* transition: all ease-out 0.5s; */
  /* padding-top: 10px; */
}
.nav-name {
  display: none;
}

.content {
  position: absolute;
  top: 55%;
  left: 33%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h1 {
  font-size: 150px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.content .heading .heading-1 {
  font-size: 120px;
  color: white;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.content .heading .heading-2 {
  margin-top: -20px;
  font-size: 150px;
  color: #4076ff;
  font-weight: 700;
  margin-bottom: 30px;
}

.content p {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

.content a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #4076ff;
  padding: 10px 20px;
  border-radius: 50px;
  border-color: #fff;
  margin-top: 20px;
  padding: 3px 30px 3px 30px;
  font-size: 20px;
  font-weight: 500;
}

.content a:hover {
  background: #fff;
  color: #4076ff;
  transition: 0.3s ease-in-out;
}
.fee-table {
  display: flex;
  margin: 10px auto;
  color: #46100d;
  justify-content: space-between;
  text-align: center;
  width: 300px;
}
.registration-fee {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border-color: #fff;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.registration-fee > h5 {
  font-size: 30px;
  font-weight: 600;
  color: #861e19;
}
.registration-fee > h6 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.about-us .about-heading {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.about-us .about-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.sub-heading {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #4076ff;
}

#typing {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}
.register-btn {
  position: relative;
  left: 270px;
}
@media (max-width: 430px) {
  .register-btn {
    position: relative;
    left: 5%;
    margin-top: 30px;
  }
}
.login__submit {
  background: #4076ff;
  font-size: 18px;
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 200px;
  color: white;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: white;
}

#about {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 12%;
}

.about-title {
  font-size: 40px;
  font-weight: 500;
}

.table-about-head {
  font-size: 25px;
}
.table-about-body {
  font-size: 22px;
}
.hrtitle {
  width: 40px;
  border-top: 2px solid;
  padding-bottom: 15px;
}

.about-section-icon-list {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.icon-content {
  text-align: center;
}

/* theme section start */

.heading-theme {
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.heading-theme .heading-theme-1 {
  padding: 0 20% 0 20%;
  /* border-bottom: #000000;
  border-bottom-style: solid;
  border-bottom-width: 2px; */
  padding-bottom: 10px;
  position: relative;
  top: 10px;
  font-family: "ubuntu";
  font-weight: bold;
}

/* Path: index.html */
/* carousal of themes */
:root {
  --background-dark: #1850d2;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.themes-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  justify-content: center;
}
.theme-card {
  margin: 20px 40px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border-color: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  transition: all 1s;
}
.theme-card .card-title {
  font-size: 25px;
  color: white;
  font-weight: 500;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.theme-card:hover {
  transform: scale(1.1);
}
.blockchain {
  background-image: url("/images/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ar-vr {
  background-image: url("/images/3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fintech {
  background-image: url("/images/2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.drones {
  background-image: url("/images/4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.health-ed {
  background-image: url("/images/8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.open-innovation {
  background-image: url("/images/10.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.theme-card:hover .card-title {
  margin: 20px 30px;
  /* height: 300px;
  width: 300px; */
  border-radius: 10px;
  border-color: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  transition: 0.2s ease-in-out;
  visibility: visible;
  opacity: 1;
  height: 280px;
  width: 280px;
  background-color: #016becb8;
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

@media (max-width: 430px) {
  .heading-theme {
    font-size: 45px;
    color: #4076ff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .heading-theme .heading-theme-1 {
    padding: 0 20% 0 20%;
    /* border-bottom: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px; */
    padding-bottom: 10px;
    position: relative;
    top: 10px;
    font-family: "ubuntu";
    font-weight: bold;
  }

  /* Path: index.html */
  /* carousal of themes */
  :root {
    --background-dark: #1850d2;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

  .themes-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    justify-content: center;
  }
  .theme-card {
    margin: 20px 40px;
    border-radius: 10px;
    border-color: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    transition: all 1s;
  }
  .theme-card .card-title {
    font-size: 25px;
    color: white;
    font-weight: 500;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  .blockchain {
    background-image: url("/images/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .ar-vr {
    background-image: url("/images/3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fintech {
    background-image: url("/images/2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .drones {
    background-image: url("/images/4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .health-ed {
    background-image: url("/images/8.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .open-innovation {
    background-image: url("/images/10.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .theme-card:hover .card-title {
    margin: 20px 30px;
    /* height: 300px;
    width: 300px; */
    border-radius: 10px;
    border-color: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
    visibility: visible;
    opacity: 1;
    height: 280px;
    width: 280px;
    background-color: #016becb8;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s ease-in-out;
  }
}

/* theme section ends */

/* prizes section start */

.prizes {
  background-image: url(/images/gli-bg.png);
  width: 100%;
  padding-bottom: 20px;
}
.sec-title {
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
}
.prize-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prize-card {
  margin: 20px 40px;
  height: 300px;
  width: 30%;
  border-radius: 10px;
  border-color: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  transition: all 1s;
}
.first-prize,
.second-prize,
.third-prize {
  background-image: url(/images/prize-card-bg-img.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.prize-card-content {
  opacity: 0;
}
.prize-card-content {
  font-size: 30px;
  padding-top: 120px;
  color: white;
}
.prize-card:hover .prize-card-content {
  margin: 20px 30px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border-color: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  transition: 0.4s ease-in-out;
  visibility: visible;
  opacity: 1;
  height: 93%;
  width: 93%;
  background-color: #016becb8;
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

@media (min-width: 540px) {
}

@media (min-width: 960px) {
}

/* footer */
.footer {
  background-color: #000000;
  padding-top: 20px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  /* position: relative;
  bottom: 400px; */
  /* border-top: #fff;
  border-top-style: solid;
  border-top-width: 1px; */
}
.footer .contact {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.footer .contact .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.footer .contact h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin: auto 20px;
}
.footer .contact .heading-contact-1 {
  padding: 0 20% 0 20%;
  border-bottom: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}
.footer .container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

footer .footer-logo {
  margin-top: -20px;
}
.footer .footer-logo img {
  width: 150px;
  /* margin-left: 20px; */
}

.footer p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.footer li {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-left: 20px;
  list-style: none;
}

.footer a {
  color: #d9d9d9;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.footer .footer-links a:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.footer-social a {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  padding: 10px;
}
.footer-social a:hover {
  color: #fff;
}

.footer-social li:hover {
  border-bottom: none;
  color: #fff;

  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}
.footer-social li a:hover {
  text-decoration: none !important;
}

.footer-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 90%;
  margin: auto;
  color: #fff;
  border-top: #fff;
  border-top-style: solid;
  border-top-width: 1px;
}

/* media query  */

@media (max-width: 900px) {
  .body {
    width: 100%;
  }
  nav {
    background-color: #000c30;
  }
  /* .nav-logo-img {
    display: none;
  } */
  /* .nav-name {
    display: block;
    margin-top: -5px;
    margin-bottom: -10px;

    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    display: none;
  } */

  .nav-bar {
    width: 100% !important;
  }
  .collapse {
    margin-top: 20px;
    margin-left: 35px;
    transition: -0.3s;
  }
  .prize-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .prize-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .content h1 {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .content .heading .heading-1 {
    margin-top: 30px;
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .sub-heading {
    margin-top: 50px;
    height: 100px;
  }

  .btns {
    margin-top: 30px;
  }

  .footer .container .row {
    width: 100% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .container .row div {
    margin-left: 0px;
    width: 80px !important;
  }
  /* .footer .footer-logo img {
    margin-top: 10px;
    margin-left: 20px;
    width: 80px;
  } */

  .footer p {
    font-size: 15px;
  }

  .footer li {
    font-size: 15px;
  }

  .footer a {
    font-size: 15px;
  }

  .footer-social a {
    font-size: 15px;
  }

  .footer-2 {
    font-size: 15px;
  }
  .footer .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px auto;
  }

  .footer .contact .container {
    display: grid;
    margin-left: 0px;
  }
  .footer .contact .container .phone {
    margin-bottom: 10px;
  }
  .footer .contact .container .email {
    margin-bottom: -20px;
  }
  .footer .footer-social {
    margin: 5px;
  }
  .footer .footer-social .social {
    display: none;
  }
}

.section-team {
  font-family: "Poppins", sans-serif;
  padding-top: 150px;
  /* padding-bottom: 400px; */
}

.title-team-member {
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.section-team .header-section {
  margin-bottom: 50px;
}

.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
}
.title-faq {
  font-size: 50px;
  color: #4076ff;
  text-align: center;
  /* margin-top: 50px;
  margin-bottom: 40px; */
}
.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 25px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(to right, #2039a1, black);
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding 0.3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #016cec, #00b5f7);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

/*TEAM'S CSS PART*/
.section-team .single-person:hover .person-image .icon {
  background: none;
  background-color: #fff;
  color: #016cec;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 700;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #46100d;
}

.title-t {
  color: #861e19;
  /* font-family: "montserrat-light"; */
  font-family: "ubuntu";
  font-size: 45px;
  font-weight: bold;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

.page {
  padding: 6rem 2rem;
}

.single-person {
  height: 90%;
}

.section-team {
  position: relative;
  bottom: 100px;
}

/*CSS OF PRIZE SECTION*/

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*--blog----*/

.sec-title {
  position: relative;
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1em;
  color: #ff8a01;
  font-weight: 500;
  background: rgb(247, 0, 104);
  background: -moz-linear-gradient(
    to left,
    rgba(247, 0, 104, 1) 0%,
    rgba(68, 16, 102, 1) 25%,
    rgba(247, 0, 104, 1) 75%,
    rgba(68, 16, 102, 1) 100%
  );
  background: -webkit-linear-gradient(
    to left,
    rgba(247, 0, 104, 1) 0%,
    rgba(68, 16, 102, 1) 25%,
    rgba(247, 0, 104, 1) 75%,
    rgba(68, 16, 102, 1) 100%
  );
  background: linear-gradient(
    to left,
    rgba(247, 0, 104) 0%,
    rgba(68, 16, 102, 1) 25%,
    rgba(247, 0, 104, 1) 75%,
    rgba(68, 16, 102, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: inline-block;
  font-size: 48px;
  line-height: 1.2em;
  color: #1e1f36;
  font-weight: 700;
}

.sec-title .text {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  color: #888888;
  margin-top: 30px;
}

.sec-title.light h2,
.sec-title.light .title {
  color: #ffffff;
  -webkit-text-fill-color: inherit;
}

/* end of 2 prize */

/* schedule */

.schedule {
  position: relative;
  bottom: 300px;
  width: 100% !important;
}
.schedule-content {
  padding-top: 50px;
}
.schedule-content .row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row-1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row-1 img {
  width: 100%;
  height: 100%;
}

.divider0 {
  margin: auto;
  height: 0.25rem;
  max-width: 20rem;
  background-color: currentColor;
  position: relative;
  top: 30px;
  bottom: 70px;
}

.divider1 {
  margin: auto;
  height: 0.25rem;
  max-width: 20rem;
  background-color: currentColor;
  position: relative;
  bottom: 70px;
  margin-top: 80px;
}
.divider2 {
  margin: auto;
  height: 0.25rem;
  max-width: 20rem;
  background-color: currentColor;
  position: relative;
  top: 70px;
  bottom: 290px;
}

/* .section-team {
  position: relative;
  bottom: 400px;
} */

.divider3 {
  margin: auto;
  height: 0.25rem;
  max-width: 20rem;
  background-color: currentColor;
  position: relative;
  /* bottom: 500px; */
}

/* faq part */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,


/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styling */

:root {
  ---Very-dark-blue: hsl(238, 29%, 16%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

/* seperate styling */

/* .faq-card {
  position: relative;
  max-width: 21rem;
  width: 21rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding: 2em;
  padding-top: 10em;
  border-radius: 2em;
  color: var(--Very-dark-grayish-blue);
  background-color: white;
  box-shadow: 5px 5px 30px rgba(0 0 0/ 0.3);
  transition: transform 200ms ease-in;
} */

/* .faq-card {
  position: relative;
  bottom: 530px;
} */

/* .faq-card:hover {
  transform: scale(1.015);
} */
/* .faq {
  position: relative;
  bottom: 450px;
} */

.faq__content {
  width: 100%;
  margin-left: 20%;
}

@media (max-width: 950px) {
  .faq__content {
    width: 100%;
    margin: auto;
  }
}

.faq__title {
  margin-bottom: 1em;
  text-align: center;
  font-size: 2rem;
}

.faq__item {
  width: 500px;
  margin: auto 1em;
  border-bottom: 1px solid var(--Light-grayish-blue);
  /* text-align: center; */
}

.faq__question {
  cursor: pointer;
  position: relative;
  margin-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 400;
}

.faq__question:hover {
  color: #4076ff;
}

.faq__answer {
  display: none;
  padding-bottom: 1.5em;
  color: var(--Dark-grayish-blue);
  line-height: 1.5em;
}

/* .arrow-icon {
  display: inline-block;
  position: absolute;
  top: 35%;
  right: 0;
  transform: rotate(0deg);
  transition: transform 300ms ease;
} */

/* attribution styling */

/* .attribution {
  font-size: 1rem;
  position: absolute;
  top: 0;
  color: var(---Very-dark-blue);
  opacity: 0.75;
} */

/* .attribution a {
  color: white;
  text-decoration: underline;
} */

/* .attribution a:hover {
  color: rgba(255 255 255/0.5);
} */

/* media queries */

@media (min-width: 900px) {
  /* body {
    align-items: center;
    min-height: 100vh;
  } */

  .faq-card {
    display: flex;
    justify-items: center;
    max-width: 60rem;
    width: 60rem;
    margin: 0;
    padding: 0;
  }

  .faq__content {
    order: 2;
    width: 100%;
    padding: 5em;
  }

  .faq__title {
    text-align: left;
  }

  /* @keyframes up-and-down {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-20%);
    }
  } */
}

/* glimpse */
.glimpse {
  height: 110vh;
  background: url(images/gli-bg.png);
  padding: 0 12%;
}

.glimpses-title {
  padding: 50px 0 0 0;
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.carousel-item {
  width: 600px;
  height: 550px;
  /* border: 5px solid; */
  /* border-color: white; */
}

.glimps-hr {
  width: 40px;
  border-top: 4px solid;
  color: white;
  padding-bottom: 20px;
}

@media (max-width: 950px) {
  .carousel-item {
    width: 600px;
    height: 350px;
    /* border: 5px solid;
    border-color: white; */
  }
}

@media (max-width: 850px) {
  .glimpse {
    height: 110vh;
    background: url(images/glimps-bg.jpeg);
    padding: 0 12%;
  }

  .glimpses-title {
    padding: 50px 0 0 0;
    color: white;
    font-size: 35px;
    font-weight: 600;
  }

  .carousel-item {
    width: 600px;
    height: 360px;
    /* border: 5px solid;
    border-color: white; */
  }

  .glimps-hr {
    width: 40px;
    border-top: 4px solid;
    color: white;
    padding-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .about {
    max-width: 420px;
  }
  .faq-card {
    margin: auto 2px;
  }
  .faq__item {
    width: 300px;
    margin: auto 1em;
    border-bottom: 1px solid var(--Light-grayish-blue);
    /* text-align: center; */
  }
  .faq__question {
    cursor: pointer;
    position: relative;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .about-title {
    font-size: 45px;
  }
  .about p {
    font-size: 15px;
  }
  .about-section-icon-list {
    display: none;
  }
  .about .table-about-head {
    font-size: 15px;
  }
  .about .table-about-body {
    font-size: 14px;
  }
  .glimpse {
    height: 70vh;
    background: url(images/glimps-bg.jpeg);
    padding: 0 10%;
  }

  .glimpses-title {
    padding: 50px 0 0 0;
    color: white;
    font-size: 35px;
    font-weight: 600;
  }

  .carousel-item {
    width: 600px;
    height: 200px;
    /* border: 5px solid;
    border-color: white; */
  }

  .glimps-hr {
    width: 40px;
    border-top: 4px solid;
    color: white;
    padding-bottom: 20px;
  }
}
